.p {
  font-size: 20px;
  font-weight: 100;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.input {
  width: 180px;
  padding: 5px;
  border-radius: 10px;
  border: 3px solid black;
  transition: 0.2s;
}

.input:hover,
.input:focus {
  border: 3px solid rgb(64, 234, 240);
}
